body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    padding-top:150px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    color: #000000;
    overflow-x: hidden;
    transition: padding-top 0.3s;
}

h1{
    margin-left:10px;
    margin-right:10px;
}

header, footer {
    background-color: rgba(0, 123, 255,80%);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: height 1s, padding 1s;
}

header {
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: flex-direction 1s;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin:3px;
    border-radius: 5px;
    background-color: rgba(0, 123, 255, 0.6);
    transition: background-color 0.3s;
    min-width: 75px;
}

nav a:hover {
    background-color: rgba(0, 123, 255, 0.8);
}

nav #active {
    background-color: rgba(0, 123, 255, 0.8);
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: relative;
    z-index: 100;
}

section:nth-child(even) {
    background-color: rgba(231, 231, 231, 0.9);
}

footer {
    bottom: 0;
    position: relative;
}

@media only screen and (max-width: 600px) {
    body{
        padding-top:150px;
    }
    section {
        margin: 50px auto;
        max-width: 85%;
    }
    h1{
        font-size: 150%;
    }
}